<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


<script>
$(document).on('click', "#nextpage", function(){

navigator.geolocation.getCurrentPosition(
 function(position) {
   console.log("You were last spotted at (" + position.coords.latitude +
    "," + position.coords.longitude + ")");
   var lat1 = position.coords.latitude.toString().replace('.', 'x');
   var long1 = position.coords.longitude.toString().replace('.', 'x');
   console.log(lat1 + " " + long1);
  $.post(/locations/lat1 + "/" + long1);
})
});

</script>

<button id="nextpage">test</button>