<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>

<div id="indexh1">
	<h1>WeatherPane</h1>
</div>
<div id="indexh3">
	<h3>Finding your location</h3>
</div>

<embed src="images/mainlanding.wav" hidden="true" autostart="true">

<img src="images/load.gif" id="bg" alt="">

<script>
navigator.geolocation.getCurrentPosition(
 function(position) {
   console.log("You were last spotted at (" + position.coords.latitude +
    "," + position.coords.longitude + ")");
   var lat1 = position.coords.latitude.toString().replace('.', 'x');
   var long1 = position.coords.longitude.toString().replace('.', 'x');
   // console.log(lat1 + " " + long1);

$(document).ready(function () {
    // Handler for .ready() called.
    window.setTimeout(function () {
        location.href = "/locations/"+ lat1 + "/" + long1;
    }, 0)
});


})
</script>
