<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<body background="<%= @icon %>">

	<div id="up_top">
	<%=  %>  
	</div>

	<div id="open_settings">
		<a href="#"><i class="fa fa-cog"></i></a>
	</div>

	<div id="main">
		<h1 id="city">Austin, TX</h1>
		<p id ="weather"><%= @current_temp.ceil %>°F, <%= @current_condition.capitalize %></p>
	</div>
</body>
