<body background="<%= @icon %>">
	
	<div id="up_top">
	<%=  %>  
	</div>

	<div id="open_settings">
		<a href="#"><i class="fa fa-cog"></i></a>
	</div>

	<div id="main">
		<h1 id="city">Austin, TX</h1>
		<p id ="weather"><%= @current_temp.ceil %>°F, <%= @current_condition.capitalize %></p>
	</div>
</body>
